html {
    scroll-behavior: smooth;
    font-family: 'Encode Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}
a {
    text-decoration: none;
}

body {
    display: flex;
    flex-wrap: wrap;

    height: 100vh;
    width: auto;
    align-items: flex-start;
    justify-content: center;

    line-height: 2.5em;
    font-size: large;

    overflow-x: hidden;
}

header, footer, nav {
    flex: 0 0 100vw;
}

header, footer, nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 30vh;
    padding: 0 30px;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

footer .icon-wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.switch {
    display: none;
}

.main-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 725px;
    height: 625px;

    overflow-x: hidden;

    background-color: white;
}

.categories {
    writing-mode: vertical-lr;
    text-orientation: sideways;

    text-transform: uppercase;
    font-size: 3em;
    font-weight: 700;
    text-shadow: black 2px 1px 2px;
    color: aliceblue;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    padding: 30px;
    height: 97%;
    margin-block: 15px;
    width: 100%;

    background-color: lightblue;

    border-radius: 15px;
    transition: all 0.5s;
}

.stretched {
    flex: 1 1 100%;
}

.categories:hover {
    flex: 1 1 100%;
    filter: brightness(100%) contrast(100%) grayscale(0);
}

.folded {
    flex: 1 1 0%;
    filter: brightness(75%) contrast(65%) grayscale(20%);
}

.recipe {
    position: relative;
    margin-block: 50px;
    width: 700px;
    outline: gainsboro 2px solid;
    border-radius: 20px;
    padding: 25px;
    line-height: 175%;
}

.recipe article {
    display: flex;
    flex-direction: column;
}

figure {
    align-self: center;
    text-align: center;
}

h3 {
    text-transform: capitalize;
    margin: 20px;
}

.dish_pic {
    border: 3px solid white;
    outline: black 1px solid;
    outline-offset: 5px;
    width: 300px;
    height: 350px;
    margin: 20px;
    object-fit: cover;
}

h2[role="type-title"] {
    position: absolute;
    top: -25px;

    display: flex;
    justify-content: center;
    width: 640px;
}

span[role="title-container"] {
    background-color: white;
    padding: 5px 25px;  

    text-transform: uppercase;
}

.ingredients, ol li {
    padding-block: 15px;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.credit {
    font-size: small;
    color: rgb(255, 0, 0);
    line-height: 150%;
}

.summary {
    font-style: italic;
    text-align: center;
    padding-inline: 25px;

    color: rgb(13, 13, 107);
    border-bottom: lightblue 2px solid;
    padding-block: 25px;
}

.summary + h4 {
    margin-block: 40px;
}

.backToTop {
    display: block;
    padding: 30px;
    align-self: center;
}

@media screen and (max-width: 700px) {
    body {
        padding: .75em;
    }

    .main-menu {
        flex-direction: column;
        width: 90vw;
        height: 550px;
    }

    .categories {
        writing-mode: horizontal-tb;
        font-size: xx-large;
        margin-block: .5em;
        width: 85%;
    }

    .recipe {
        padding: 1em;
        width: 80vw;
    }

    h2[role="type-title"] {
        width: 92%;
    }
}